<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .profile_box {
            margin-top: 50px;
            margin-left: 200px;
            width: 300px;
        }

        .profile_box img {
            width: 280px;
            height: 180px;
        }

        .profile_photo img {
            width: 120px;
            height: 120px;
            margin-top: -60px;
            margin-left: 30px;
            border-radius: 50%;
        }

        .profile_name {
            align-items: center;
            float: right;
            margin-top: -320px;
            margin-right: 550px;
        }

        .profile_name h1 {
            margin-left: 80px;
        }

        table {
            margin-top: 40px;
            border-spacing: 1px;
        }

        .profile_info th {
            padding: 10px;
            padding-left: 40px;
            font-size: large;
        }

        .about{
            margin-top: 20px;
        }
        .about p {
            margin-top: 15px;
            font-size: 18px;

        }
        .nav_buttons{
            margin-top: 50px;
            margin-left: 80px;
        }
        .nav_buttons a{
            background-color: #1da1f2;
            color: #ffffff;
            border: none;
            padding: 12px 20px;
            font-size: 18px;
            border-radius: 25px;
            cursor: pointer;
            text-decoration: none;
            margin-bottom: 500px;
        }
    </style>
</head>

<body>
    <div class="profile_box">
        <%var img=currentUser.profilepic%>

        <% if (img !== null && img!="") { %>
            <img src="/uploads/<%= img %>" alt="this image" width="40px"/>
        <% } else   { %>
            <img src="https://www.tech101.in/wp-content/uploads/2018/07/blank-profile-picture.png" alt="" />    
        <% } %>


        <div class="profile_photo">
        <%var img=currentUser.profilepic%>

        <% if (img !== null && img!="") { %>
            <img src="/uploads/<%= img %>" alt="this image" width="40px"/>
        <% } else   { %>
            <img src="https://www.tech101.in/wp-content/uploads/2018/07/blank-profile-picture.png" alt="" />    
        <% } %>
        </div>

        <div class="about">
            <h3><%= currentUser.email%></h3>
            <div class="about_text">
                <p><%= currentUser.about %></p>
            </div>
        </div>

        
    </div>

    <div class="profile_name">
        <h1><%= currentUser.fname+" "+currentUser.lname %></h1>
        <div class="profile_info">
            <table style="align-items: center;">
                <tr>
                    <th><a href="/followers">Followers</a></th>
                    <th><a href="/following">Following</a></th>
                    <th>Gender</th>
                </tr>
                <tr>
                    <th><a href="/followers"><%= followers.length%></a></th>
                    <th><a href="/following"><%= following.length%></a></th>
                    <th><%= currentUser.gender%></th>
                </tr>
            </table>
        </div>
        <div class="nav_buttons">
            <a href="/home">Home</a>
            <a href="/edit_profile">Edit Profile</a>
        </div>
    </div>

   

</body>

</html>
